.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 80px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1);
}
.contact-form h2{
    text-align: center;
    margin-bottom: 20px;
}
.contact-form p{
    text-align: center;
    margin-bottom: 20px;
    color: #777;
}
.contact-form form div{
    margin-bottom: 15px;
}
.names{
    display: flex;
}
.contact-form form label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-form form input,
.contact-form form textarea{
    width: calc(50% - 25px);
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid#ccc;
    border-radius: 5px;
}
.contact-form form input[type="email"],
.contact-form form textarea{
    width: 95%;
}
.contact-form form textarea{
    height: 100px;
    resize: none;
}
.contact-form button{
    width: 100%;
    padding: 10px;
    background-color: #ff5f1f;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.contact-form button:hover{
    background-color: #555;
}